.ava {
    border: 4px solid #fab412;
    border-radius: 50%;
    width: 70px;
}
.selectedPage {

    font-weight:  bold ;
}

.usersMainBlock {
    padding-left: 30px;
}

.stylePagination {
    padding: 10px;
}
.number {
 padding: 15px 0 ;

}